USE [Shapkin_mnemonika]
GO
/****** Object:  Table [dbo].[Auxi]    Script Date: 16.01.2026 12:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auxi](
	[IdAux] [int] IDENTITY(1,1) NOT NULL,
	[RusWord] [nvarchar](150) NOT NULL,
	[EngWord] [nvarchar](150) NOT NULL,
	[TipicalMistake] [nvarchar](150) NULL,
	[BritishTrans] [nvarchar](150) NULL,
	[NorthAmericanTrans] [nvarchar](150) NULL,
	[Photo] [nvarchar](150) NULL,
 CONSTRAINT [PK_Aux] PRIMARY KEY CLUSTERED 
(
	[IdAux] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Difficulty]    Script Date: 16.01.2026 12:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Difficulty](
	[IdDifficulty] [int] IDENTITY(1,1) NOT NULL,
	[Difficulty] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Difficulty] PRIMARY KEY CLUSTERED 
(
	[IdDifficulty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mnemonic]    Script Date: 16.01.2026 12:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mnemonic](
	[IdMnemonic] [int] IDENTITY(1,1) NOT NULL,
	[AuxId] [int] NOT NULL,
	[MnemonicDevice] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Mnemonic] PRIMARY KEY CLUSTERED 
(
	[IdMnemonic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartOfSpeech]    Script Date: 16.01.2026 12:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartOfSpeech](
	[IdPartOfSpeech] [int] IDENTITY(1,1) NOT NULL,
	[PartOfSpeech] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PartOfSpeech] PRIMARY KEY CLUSTERED 
(
	[IdPartOfSpeech] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 16.01.2026 12:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theme]    Script Date: 16.01.2026 12:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theme](
	[IdTheme] [int] IDENTITY(1,1) NOT NULL,
	[Theme] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Theme] PRIMARY KEY CLUSTERED 
(
	[IdTheme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 16.01.2026 12:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Login] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](150) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Word]    Script Date: 16.01.2026 12:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Word](
	[IdWord] [int] IDENTITY(1,1) NOT NULL,
	[PartOfSpeechId] [int] NOT NULL,
	[ThemeId] [int] NOT NULL,
	[StudyDate] [date] NULL,
	[AuxId] [int] NOT NULL,
	[DifficultyId] [int] NULL,
	[UserId] [int] NOT NULL,
	[Example] [nvarchar](150) NULL,
	[Hint] [nvarchar](150) NULL,
	[BasicExampleMark] [bit] NOT NULL,
	[GeneralCardMark] [bit] NOT NULL,
 CONSTRAINT [PK_Word] PRIMARY KEY CLUSTERED 
(
	[IdWord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auxi] ON 

INSERT [dbo].[Auxi] ([IdAux], [RusWord], [EngWord], [TipicalMistake], [BritishTrans], [NorthAmericanTrans], [Photo]) VALUES (1, N'осторожный', N'cautious', N'prudent', N'/ˈkɔːʃəs/', NULL, N'cautious.jpg')
INSERT [dbo].[Auxi] ([IdAux], [RusWord], [EngWord], [TipicalMistake], [BritishTrans], [NorthAmericanTrans], [Photo]) VALUES (2, N'выражать', N'express', NULL, N'/ɪkˈspres/', N'/ɪkˈspres/', NULL)
INSERT [dbo].[Auxi] ([IdAux], [RusWord], [EngWord], [TipicalMistake], [BritishTrans], [NorthAmericanTrans], [Photo]) VALUES (3, N'человек', N'person', N'man', N'/ˈpɜːsn/', N'/ˈpɜːrsn/', N'person.jpg')
SET IDENTITY_INSERT [dbo].[Auxi] OFF
GO
SET IDENTITY_INSERT [dbo].[Difficulty] ON 

INSERT [dbo].[Difficulty] ([IdDifficulty], [Difficulty]) VALUES (1, N'A1')
INSERT [dbo].[Difficulty] ([IdDifficulty], [Difficulty]) VALUES (2, N'A2')
INSERT [dbo].[Difficulty] ([IdDifficulty], [Difficulty]) VALUES (3, N'B1')
SET IDENTITY_INSERT [dbo].[Difficulty] OFF
GO
SET IDENTITY_INSERT [dbo].[Mnemonic] ON 

INSERT [dbo].[Mnemonic] ([IdMnemonic], [AuxId], [MnemonicDevice]) VALUES (1, 2, N'Быстрая доставка')
INSERT [dbo].[Mnemonic] ([IdMnemonic], [AuxId], [MnemonicDevice]) VALUES (2, 2, N'Скорый поезд')
INSERT [dbo].[Mnemonic] ([IdMnemonic], [AuxId], [MnemonicDevice]) VALUES (3, 4, N'Vehicle (звучит как "ви-кл") как «носитель» чего-то, что вскоре перевезут с помощью вил.')
SET IDENTITY_INSERT [dbo].[Mnemonic] OFF
GO
SET IDENTITY_INSERT [dbo].[PartOfSpeech] ON 

INSERT [dbo].[PartOfSpeech] ([IdPartOfSpeech], [PartOfSpeech]) VALUES (1, N'Прилагательное')
INSERT [dbo].[PartOfSpeech] ([IdPartOfSpeech], [PartOfSpeech]) VALUES (2, N'Глагол')
INSERT [dbo].[PartOfSpeech] ([IdPartOfSpeech], [PartOfSpeech]) VALUES (3, N'Существительное')
SET IDENTITY_INSERT [dbo].[PartOfSpeech] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([IdRole], [Role]) VALUES (2, N'Преподаватель')
INSERT [dbo].[Role] ([IdRole], [Role]) VALUES (3, N'Авторизированный пользователь')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Theme] ON 

INSERT [dbo].[Theme] ([IdTheme], [Theme]) VALUES (1, N'Характер')
INSERT [dbo].[Theme] ([IdTheme], [Theme]) VALUES (2, N'Общение')
INSERT [dbo].[Theme] ([IdTheme], [Theme]) VALUES (3, N'Человек')
SET IDENTITY_INSERT [dbo].[Theme] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [RoleId], [FullName], [Login], [Password]) VALUES (1, 1, N'Петров Петр Петрович', N'petrov', N'petrov')
INSERT [dbo].[User] ([IdUser], [RoleId], [FullName], [Login], [Password]) VALUES (2, 2, N'Иванов Иван Иванович', N'ivanov', N'')
INSERT [dbo].[User] ([IdUser], [RoleId], [FullName], [Login], [Password]) VALUES (3, 3, N'Веревкина Мария Александровна', N'verevkina', N'')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Word] ON 

INSERT [dbo].[Word] ([IdWord], [PartOfSpeechId], [ThemeId], [StudyDate], [AuxId], [DifficultyId], [UserId], [Example], [Hint], [BasicExampleMark], [GeneralCardMark]) VALUES (1, 1, 1, CAST(N'2025-11-15' AS Date), 1, 5, 1, N'They''ve taken a very cautious approach.', N'', 1, 0)
INSERT [dbo].[Word] ([IdWord], [PartOfSpeechId], [ThemeId], [StudyDate], [AuxId], [DifficultyId], [UserId], [Example], [Hint], [BasicExampleMark], [GeneralCardMark]) VALUES (2, 1, 1, CAST(N'2025-11-15' AS Date), 1, 5, 1, N'They expressed cautious optimism about a solution to the crisis.', N'', 0, 1)
INSERT [dbo].[Word] ([IdWord], [PartOfSpeechId], [ThemeId], [StudyDate], [AuxId], [DifficultyId], [UserId], [Example], [Hint], [BasicExampleMark], [GeneralCardMark]) VALUES (3, 2, 2, NULL, 2, 3, 2, N'Teachers have expressed concern about the changes.', N'', 0, 0)
SET IDENTITY_INSERT [dbo].[Word] OFF
GO
ALTER TABLE [dbo].[Mnemonic]  WITH CHECK ADD  CONSTRAINT [FK_Mnemonic_Aux] FOREIGN KEY([AuxId])
REFERENCES [dbo].[Auxi] ([IdAux])
GO
ALTER TABLE [dbo].[Mnemonic] CHECK CONSTRAINT [FK_Mnemonic_Aux]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Word]  WITH CHECK ADD  CONSTRAINT [FK_Word_Aux] FOREIGN KEY([AuxId])
REFERENCES [dbo].[Auxi] ([IdAux])
GO
ALTER TABLE [dbo].[Word] CHECK CONSTRAINT [FK_Word_Aux]
GO
ALTER TABLE [dbo].[Word]  WITH CHECK ADD  CONSTRAINT [FK_Word_Difficulty] FOREIGN KEY([DifficultyId])
REFERENCES [dbo].[Difficulty] ([IdDifficulty])
GO
ALTER TABLE [dbo].[Word] CHECK CONSTRAINT [FK_Word_Difficulty]
GO
ALTER TABLE [dbo].[Word]  WITH CHECK ADD  CONSTRAINT [FK_Word_PartOfSpeech] FOREIGN KEY([PartOfSpeechId])
REFERENCES [dbo].[PartOfSpeech] ([IdPartOfSpeech])
GO
ALTER TABLE [dbo].[Word] CHECK CONSTRAINT [FK_Word_PartOfSpeech]
GO
ALTER TABLE [dbo].[Word]  WITH CHECK ADD  CONSTRAINT [FK_Word_Theme] FOREIGN KEY([ThemeId])
REFERENCES [dbo].[Theme] ([IdTheme])
GO
ALTER TABLE [dbo].[Word] CHECK CONSTRAINT [FK_Word_Theme]
GO
ALTER TABLE [dbo].[Word]  WITH CHECK ADD  CONSTRAINT [FK_Word_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Word] CHECK CONSTRAINT [FK_Word_User]
GO
